/* THEME */

.theme-ltcgr .sidebar {
  background-color: #00A89D;
}
.theme-ltcgr .content a,
.theme-ltcgr .related-posts li a:hover {
  color: #00A89D;
}


/* SIDEBAR */

.sidebar-nav-icons {
    padding: 0;
}

.sidebar-nav-icons li {
    display: inline;
}